div.ajax-form-container {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}
form.ajax-form {
    padding: 20px;
}
form.ajax-form input {
    width: 60%;
    padding: 15px;
    border: none;
    margin-bottom: 15px;
    outline: none;
    font-size: 1.2em;
    border-radius: 10px;
}

form.ajax-form input:not([type="submit"])  {
    border-bottom: 2px solid #5352ed;
    box-shadow:inset 3px 3px 6px rgba(0,0,0,0.3);
}

form.ajax-form input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
}

.ajax-form-message {
    background-color: rgb(212, 212, 252);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid blue;
    color: blue;
}

.hide {
    display: none !important;
}

.block {
    display: block !important;
}